<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel ="stylesheet" href = "../../static/stylesheets/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="post.js"></script>  
</head>
<body>

    <h1><center>WTF Columbia</center></h1>

    <div class="form" id="form1"></div>
    <div id="submit-btn"> SUBMIT </div>
    <!--<div id="upvote"> UPVOTE </div>
    <div id="downvote"> DOWNVOTE </div>
-->
    <div class="wrap" id="wrap">
    <!--
    <div class="item" >
      <div class="vote-span"><!-- voting
        <div class="vote" data-action="up" title="Vote up">
          <i class="icon-chevron-up"></i>
        </div><!--vote up
        <div class="vote-score"><?php echo $row['vote'] ?></div>
        <div class="vote" data-action="down" title="Vote down">
          <i class="icon-chevron-down"></i>
        </div><!--vote down
      </div>
      <div id="posts">
      <!--
        <div class="post" id="postIn"><!-- post data 
        <h2></h2>
        <p></p>
        </div>-->
      </div>
      
    </div>

  </div>

    <ul id="msg-data">
        
    </ul>
    </div>
</body>
</html>