doctype html
html
  head
    title wtf columbia
    script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')
    script(type='text/javascript', src='test.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  body
    div
      | Name: 
      input#name(type='text', name='name', value='', size='25')
      | 	    Email: 
      input#email(type='text', name='email', value='', size='25')
      #signup(value='sign me up!') Sign up!
    script(src='js/index.js')
