<!DOCTYPE html>
<head>
	<title>wtf columbia</title>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/landing.js"></script>
    <link rel="stylesheet" href="stylesheets/landing.css">
</head>
<body>
	<div class="signup" align = "center">  
 		<H1 align = "center">wtf CU</H1>
 		<div id ="login" align = "center">Login</div>
	</div>
</body>
</html>